# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Build products
build/
DerivedData/
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# Xcode workspace/project settings that are often machine-specific
*.xcworkspace
!*.xcodeproj/project.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Archives
*.xcarchive

# Misc
*.swp
*.tmp
